@media (max-width: 1118px){
    #section1__img {
        img{
        height: 400px;
        margin-left: 100px;
        }
    }
}

@media (max-width: 1080px){
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
    #section1__img {
        img{
        height: 400px;
        margin-left: 100px;
        }
    }

}

@media (max-width: 991px){
    .nav-item{
        margin-left: 0px;
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
    #section1__img {
        img{
        height: 350px;
        margin-left: 100px;
        }
    }
}

@media (max-width: 902px){
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
    #section1__img {
        img{
        height: 300px;
        margin-left: 100px;
        }
    }
}


@media (max-width: 777px){

    #section1__text{
        background-color: white;
        text-align: center;
    }

    #section1__img {
        img{
        height: 300px;
        width: 300px;
        }
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }

    #branding2 {
        img{
        height: 300px;
        width: auto;
        }
    }
}

@media (max-width: 748px){

    .margin{
        height: 70px;
    }

    #branding1{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        border: 1px rgb(234, 234, 235) solid;
        img{
            padding-bottom: 10px;
            }
    }

    #branding2{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        border: 1px rgb(234, 234, 235) solid;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        img{
            padding-top: 10px;
            width: auto;
            padding-left: 30px;
            }
    }

    #cardText{
        padding-bottom: 100px;
    }
}


@media(max-width:578px){

    #section1{
        height: 400px;
        #section1__img {
            width: 0;
            img{
            display: none;
            }
        }
    }

    #section1__text{
        background-color: white;
        margin: 0;
        text-align: center;
    }
    
    #section1__texto{
        font-size: calc(1em + 1vw);
    }

}

@media (max-width: 540px){

    #section1{
        height: 40vh;
    }

    #section1__text{
        background-color: white;
        margin: 0;
        text-align: center;
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
}

@media (max-width: 550px){
    .section3__h2{
        font-size: calc(1em + 1vw);
    }

    .section3__list{
        font-size: medium;
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
}

@media (max-width: 418px){
    #copyright{
        height: 8vh;
    }
    .section3__list{
        font-size: small;
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
}

@media (max-width: 350px){
    .section3__list{
        display: flex;
        flex-direction: column;
    }
    #section1__text h2{
        font-size: calc(1em + 1vw);
    }
    #section1__texto{
        font-size: calc(1em + 1vw);
    }
}