#section2{
    padding-top: 20px;
    padding-bottom: 50px;
}

#cards{
    z-index: 1;
    justify-content: space-around;
}

#cards {
    img{
        height: 250px;
    }
}

.card {
    border: none;
}